<ion-header id="header">

  <div class="back">
    <ion-back-button id="back"></ion-back-button>
  </div>

    <div id="title">
      <ion-title >Apropos</ion-title>
    </div>

</ion-header>

<ion-content>

  <div class="content">
      
    <img src="assets/cuisine.jpg" width="100px">
    <div class="detail">
      <p>Cuisine App v1.0.0</p>
      <p>Description: <br> Application basé sur la recette cuisine, on peut ajouter ou suprimer ou modifier d'un produit alimentaire.</p>
      <p>Les coditions d'utilisation d'application sont ici <a href="https://policies.google.com/terms?hl=fr#toc-about" target="_blank" rel="noopener noreferrer"> google.com</a></p>
      <p>
        En vertu de la loi, vous disposez de certains droits qui ne peuvent pas être limités par un contrat tel que les présentes conditions d'utilisation. Celles-ci ne sont en aucun cas destinées à restreindre ces droits.
      </p>
      <p>
        Ces conditions décrivent la relation entre vous et Google. Elles ne créent aucun droit légal pour d'autres personnes ou organisations, même si d'autres bénéficient de cette relation dans le cadre de ces conditions.
      </p>
      <p>
        Les services Google vous sont fournis par la société ci-dessous avec laquelle vous concluez un contrat : <br>

Google LLC
Société immatriculée dans l'État du Delaware (États-Unis) et régie par la législation américaine
<br>
1600 Amphitheatre Parkway
Mountain View, Californie, 94043
États-Unis
      </p>
      <p>email: seha.karoka@gmail.com</p>
    </div>
  </div>
  
</ion-content>
