<ion-header id="header">

  <div class="back">
    <ion-back-button id="back"></ion-back-button>
  </div>

    <div id="title">
      <ion-title >Apropos</ion-title>
    </div>

</ion-header>

<ion-content>

  <div class="content">
      
    <img src="assets/cuisine.jpg" width="100px">
    <div class="detail">
      <p>Cuisine App v1.0.0</p>
      <p>Description: <br> Application basé sur la recette cuisine, on peut ajouter ou suprimer ou modifier d'un produit alimentaire.</p>
      <p>Les coditions d'utilisation d'application sont ici <a href="wwww.google.com" target="_blank" rel="noopener noreferrer"> google.com</a></p>
      <p>email: mycuisine@gmail.com</p>
    </div>
  </div>
  
</ion-content>
