<ion-header>
  <ion-toolbar color="danger">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title >Apropos de nous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item href="https://github.com/selestinohajaniaina" target="_blank">
    <ion-label>selestinohajaniaina</ion-label>
    <ion-icon name="logo-github" slot="start"></ion-icon>
  </ion-item>
  <ion-item href="https://facebook.com/selestino.hajaniain" target="_blank">
    <ion-label>Selestino Hajaniaina</ion-label>
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
  </ion-item>
  <ion-item href="+261324110923" target="_blank">
    <ion-label>+261324110923</ion-label>
    <ion-icon name="call-outline" slot="start"></ion-icon>
  </ion-item>

</ion-content>
