<ion-header id="header">

  <div class="back">
    <ion-back-button id="back"></ion-back-button>
  </div>

    <div id="title">
      <ion-title >Personne</ion-title>
    </div>

</ion-header>

<ion-content>

  <div class="contener">

    <div class="form">
      <input type="number" placeholder="nombre du personne" [(ngModel)]="nbrPerson">
    <button routerLink="../../detail/{{id_recette}}" *ngIf="nbrPerson > 0" [queryParams]="{person: nbrPerson}">
      <ion-icon name="checkmark-done-outline"></ion-icon>
    </button>
    </div>

    <div class="note">
      <div>
      Remarque:
      </div>
      <div class="form-bottom">
        <input type="number" [(ngModel)]="minute" placeholder="temps (min)">
        <select [(ngModel)]="dificulte">
          <option value="facile">facile</option>
          <option value="moyen">moyen</option>
          <option value="difficile">difficile</option>
        </select>
        <select [(ngModel)]="rating">
          <option value=1>⭐</option>
          <option value=2>⭐⭐</option>
          <option value=3>⭐⭐⭐</option>
          <option value=4>⭐⭐⭐⭐</option>
          <option value=5>⭐⭐⭐⭐⭐</option>
        </select>
      </div>
      <div class="btn">
        <ion-button expand="block" (click)="btnSend()">
          <ion-icon name="arrow-undo-outline"></ion-icon>&nbsp;
          Envoyer</ion-button>
      </div>
    </div>
    <span *ngIf="error" class="err">{{ error }}</span>
    <span *ngIf="msg" class="msg">{{ msg }}</span>

  </div>

</ion-content>
