<ion-header>
  <ion-toolbar color="danger">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title >Nombre du personne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input type="number" [(ngModel)]="nbr_person" placeholder="nombre du personne"></ion-input>
        </ion-col>
        <ion-col *ngIf="nbr_person">
          <ion-button (click)="add()" expand="block">
            <ion-icon name="add-outline" slot="start"></ion-icon>
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-card>
</ion-content>
