@import 'material-icons/iconfont/material-icons.css';

#header {
    color: rgb(241 245 249);
    background-color: rgb(239 68 68);
    display: flex;
    align-items: center;
    height: 4rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    
    #back{
        color: #fff;
    }
    
    #title {
        color: rgb(241 245 249);
        background-color: rgb(239 68 68);
        text-align: center;
        width: 100%;
        
        ion-title{
            line-height: 1.75rem;
            font-size: 20pt;
        }
    }
}

.contener{
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    .form{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 12pt;
        font-weight: bold;
        margin-bottom: 20px;

        input {
            color: #1e1e1e;
            background: #fff;
            height: 40px;
            width: 70%;
            border-radius: 50px;
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        }

        button{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin: 0 0 0 5px;
            background: #428cff;
            box-shadow: 0 20px 25px -5px rgb(66 138 255 / 0.1), 0 8px 10px -6px rgb(66 138 255 / 0.1);

            ion-icon{
                transform: scale(2);
            }
        }
    }
    
    .note{
        color:#000;

        .form-bottom{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 12pt;
        font-weight: bold;
        margin-bottom: 20px;

        input , select{
            color: #1e1e1e;
            background: #fff;
            height: 40px;
        }
        
        input{
            width: 30%;
        }

        }

        .btn{
            padding: 1px 15px;
        }
        

    }

    .err{
        color: rgb(255, 66, 66);
        font-size: 7pt;
    }

    .msg{
        color: rgb(33, 158, 60);
        font-size: 7pt;
    }
}