<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">Recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ajouter votre nouveau recette:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" [(ngModel)]="nom_plat" placeholder="nom du recette"></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" (click)="btnAjout()">
        <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
      Ajouter
      </ion-button>
      <div *ngIf="err" class="err">{{ err }}</div>
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Ou choisir dans cette liste:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let listeRecetteLength of liste" class="listeRec" routerLink="../personne/{{listeRecetteLength.id_plat}}">
        {{ listeRecetteLength.nom_plat }}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
