<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">Parametre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card>
      <ion-item>
        <ion-input type="text" [(ngModel)]="username" placeholder="Username"></ion-input>
        </ion-item>
      <ion-item>
      <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [type]="type" [(ngModel)]="password" placeholder="Mots de passe"></ion-input>
      </ion-item>
  
        <ion-item>
          <ion-checkbox labelPlacement="end" (click)="checked()" name="checkbox" slot="start"></ion-checkbox>
        <ion-label for="checkbox">Afficher les caracteres</ion-label>
        </ion-item>
  
      <ion-button expand="block" shape="round" (click)="upDate()">
        <ion-icon name="create-outline"></ion-icon>&nbsp; Modifier
      </ion-button>
      <ion-button expand="block" shape="round" routerLink="../accueil">Annuler</ion-button>
      <div *ngIf="error" class="err">{{ error }}</div>
  </ion-card>
  
  </ion-content>