<ion-header>
  <ion-toolbar color="danger">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title >Parametre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-list>
      Modification du code de verouillage:
      <ion-item>
        <ion-input [type]="type" [(ngModel)]="password" placeholder="Mots de passe"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Afficher les caracteres</ion-label>
        <ion-input type="checkbox" (click)="checked()" slot="start"></ion-input>
      </ion-item>
      <ion-button (click)="upDate()">Modifier</ion-button>
      <ion-button routerLink="../accueil" color="medium">Annuler</ion-button>
    </ion-list>

    <ion-list>
      <ion-item>
        Mode sombre
      </ion-item>
      <ion-item>
        Langue
      </ion-item>
      <ion-item>
        Mode de supression du code de verouillage
      </ion-item>
    </ion-list>
  
  
</ion-content>
