<ion-header>
  <ion-toolbar color="danger">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title >Parametre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
      <ion-item (click)="mode()">
        Mode &nbsp;
        <ion-text *ngIf="!chec"> sombre</ion-text>
        <ion-text *ngIf="chec"> claire</ion-text>
        <ion-icon name="sunny-outline" slot="end" *ngIf="!chec"></ion-icon>
        <ion-icon name="moon-outline" slot="end" *ngIf="chec"></ion-icon>
        <ion-toggle [checked]="chec" slot="end">
        </ion-toggle>
      </ion-item>
      <ion-item>
        Langue
        <ion-select label="label" slot="end" value="Francais" (click)="presentAlert()">
          <ion-select-option value="Allemand">🇩🇪 &nbsp; Allemand</ion-select-option>
          <ion-select-option value="Anglais">🇬🇧 &nbsp; Anglais</ion-select-option>
          <ion-select-option value="Malagasy">🇨🇳 &nbsp; Chinnois</ion-select-option>
          <ion-select-option value="Espagne">🇩🇪 &nbsp; Espagne</ion-select-option>
          <ion-select-option value="Francais">🇫🇷 &nbsp; Francais</ion-select-option>
          <ion-select-option value="Italien">🇯🇵 &nbsp; Japonnais</ion-select-option>
          <ion-select-option value="Malagasy">🇲🇬 &nbsp; Malagasy</ion-select-option>
          <ion-select-option value="Malagasy">🇮🇹 &nbsp; Italien</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
  
</ion-content>
