<ion-header>
  <ion-toolbar color="danger">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title >Categorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="categorieCode" placeholder="code"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="categorieName" placeholder="Libelle"></ion-input>
      </ion-item>
      <ion-item *ngIf="err">
        <ion-label color="danger">{{ err }}</ion-label>
      </ion-item>
      <ion-button (click)="add()" expand="block">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Ajouter
      </ion-button>
    </ion-list>
  </ion-card>

  <div class="content">
    
    <!-- <table border="1">
      <tr id="head">
        <td>code</td>
        <td>Libelle</td>
      </tr>
        <tr *ngFor="let listeLength of liste">
          <td>{{ listeLength.cat_code }}</td>
          <td>{{ listeLength.libelleCa }}</td>
          <td (click)="btnSup(listeLength.cat_id)">
            <span class="material-icons">delete</span>
          </td>
        </tr>
    </table> -->
  </div>
  
</ion-content>