<ion-header id="header">

  <div class="back">
    <ion-back-button id="back"></ion-back-button>
  </div>

    <div id="title">
      <ion-title >Login</ion-title>
    </div>

</ion-header>

<ion-content>
<form id="form" [formGroup]="userForm">
  <input type="email" placeholder="Email" formControlName="email">
  <input [type]="type" placeholder="mots de passe" formControlName="password">
  <div id="caractere">
    <input type="checkbox" (click)="checked()" name="car" id="car" >&nbsp;
    <label for="car">Afficher les caracteres</label>
  </div>
  <ion-button expand="block" class="login" shape="round" (click)="connexion()">connexion</ion-button>
  <span *ngIf="error" class="err">{{ error }}</span>
</form>
</ion-content>
