<ion-header>
  <ion-toolbar color="danger">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Recette partagé</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar color="danger" [(ngModel)]="searchQuery" (ionChange)="barSearch()"></ion-searchbar>
</ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="loaded"></ion-progress-bar>
</ion-header>

<ion-content *ngIf="!data">
  N'oublie pas de se connecter a l'internet pour continuer! 
</ion-content>

<ion-content *ngIf="data">
  <ion-card  *ngFor="let newData of data">
    <ion-img [src]="newData.recipe.image"></ion-img>
    <ion-card-title>
      {{ newData.recipe.label }}
    </ion-card-title>
    <ion-card-content>
      <ion-card-subtitle>
        {{ newData.recipe.mealType }}
      </ion-card-subtitle>
    </ion-card-content>
    {{ newData.recipe.shareAs }}
    <ion-button color="primary" shape="round" fill="outline" color="light" (click)="open(newData.recipe.shareAs)">
      <ion-icon name="open-outline" color="primary"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
