<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card>
    <form id="form" [formGroup]="userForm">
      <ion-item>
        <ion-input type="text" placeholder="Utilisateur" formControlName="username"></ion-input>
        </ion-item>
      <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [type]="type" placeholder="mots de passe" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [type]="type" placeholder="confirme" formControlName="confirm"></ion-input>
      </ion-item>
  
      <div id="caractere">
        <ion-checkbox labelPlacement="end" (click)="checked()" name="checkbox"></ion-checkbox>
        <ion-label for="checkbox">Afficher les caracteres</ion-label>
      </div>
  
      <ion-button expand="block" shape="round" (click)="submit()">connexion</ion-button>
      <span *ngIf="error" class="err">{{ error }}</span>
    </form>
  </ion-card>
  
  </ion-content>