#form {

  #caractere{
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  }

  .err{
      color: #ff6f6f;
      font-size: 8pt;
      text-align: center;
  }
}