.contener{

    .err{
        color: rgb(255, 66, 66);
        font-size: 7pt;
    }
    table{
        // color: #1e1e1e;
        width: 100%;
        font-weight:700;
        text-align: center;

        #head{
            background: #1770ffec;
            color: #fff;
            height: 40px;
        }

        tr{
            height: 30px;

        }
    }
    .err{
        color: rgb(255, 66, 66);
        font-size: 7pt;
    }
}