<ion-header id="header">

  <div class="back">
    <ion-back-button id="back"></ion-back-button>
  </div>

    <div id="title">
      <ion-title >Produit</ion-title>
    </div>

</ion-header>

<ion-content>
  <div class="contener">

    <div class="form">
      <input type="text" [(ngModel)]="libellePro" placeholder="Libelle">
      <select [(ngModel)]="codeCa" >
        <option *ngFor="let listeCatLength of listeCat" [value]="listeCatLength.cat_code">{{ listeCatLength.cat_code }}</option>
      </select>
      <select [(ngModel)]="unite">
        <option value="L">litre</option>
        <option value="kg">Kg</option>
        <option value="pcs">piece</option>
      </select>
    <button (click)="btnAjout()">
      <span class="material-icons">control_point</span>
    </button>
  </div>
  <span *ngIf="err" class="err">{{ err }}</span>
    <table border="1">
      <tr id="head">
        <td>Libelle</td>
        <td>Categorie</td>
      </tr>
        <tr *ngFor="let listeLength of liste">
          <td>{{ listeLength.libellePro +" ("+listeLength.unite+")" }}</td>
          <td>{{ listeLength.codeCa }}</td>
          <td (click)="btnSup(listeLength.codePro)">
            <span class="material-icons">delete</span>
          </td>
        </tr>
    </table>

  </div>
</ion-content>
