.contener{

    table{
        width: 100%;
        font-weight:700;
        text-align: center;

        #head{
            background: #1770ffec;
            color: #fff;
            height: 40px;
        }

        tr{
            height: 30px;

        }
    }
}