<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large">{{ nom_recette }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card>

    <ion-list>
      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" placeholder="choisir produit" [(ngModel)]="produit">
          <ion-select-option *ngFor="let listeProLength of listePro" [value]="listeProLength.libellePro+'='+listeProLength.unite">{{ listeProLength.libellePro }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="variété du produit" [(ngModel)]="varProduit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ajouter la quantité</ion-label>
        <ion-input type="number" placeholder="L ou kg ou pcs" [(ngModel)]="qteProduit"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" shape="round" (click)="btnAjout()">
      <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
      Ajouter
    </ion-button>
    <div *ngIf="err" class="err">{{ err }}</div>
  </ion-card>

  <ion-card color="light">
    <div class="contener">
      <table border="1">
        <tr id="head">
          <td>Libelle</td>
          <td>Variete</td>
          <td>Qte</td>
        </tr>
          <tr *ngFor="let listeLength of liste">
            <td>{{ listeLength.libellePro.split('=')[0] }}</td>
            <td>{{ listeLength.variete }}</td>
            <td>{{ (listeLength.qte*nbrPerson) + ' ' + listeLength.libellePro.split('=')[1] }}</td>
            <td (click)="btnSup(listeLength.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </td>
          </tr>
      </table>
    </div>
  </ion-card>

</ion-content>
