<ion-header id="header">

  <div class="back">
    <ion-back-button id="back"></ion-back-button>
  </div>

    <div id="title">
      <ion-title >Notes</ion-title>
    </div>

</ion-header>

<ion-content>
  <div class="contener">
    <table border="1">
      <tr id="head">
        <td>Libelle</td>
        <td>temps <br> (min)</td>
        <td>Dificulté</td>
        <td>Rating</td>
      </tr>
        <tr *ngFor="let listeLength of liste"> 
          <td>{{ listeLength.nom_plat }}</td>
          <td>{{ listeLength.temps }}</td>
          <td>{{ (listeLength.dificulte) }}</td>
          <td>{{ (listeLength.etoile=="1"?"⭐":listeLength.etoile=="2"?"⭐⭐":listeLength.etoile=="3"?"⭐⭐⭐":listeLength.etoile=="4"?"⭐⭐⭐⭐":"⭐⭐⭐⭐⭐") }}</td>
        </tr>
    </table>
  </div>
</ion-content>
