<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">Recette partagé</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar color="primary" [(ngModel)]="recetteFilter"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let listeLength of filteredRecette" routerLink="../description/{{ listeLength.id_plat }}">
    <img src="assets/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{ listeLength.nom_plat }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>

               <ion-item>
              <ion-label>Etoile</ion-label>
              <ion-badge color="success">⭐{{ listeLength.etoile }} </ion-badge>
              </ion-item>
      
    </ion-card-content>
  </ion-card>

</ion-content>
