<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card>
    <img alt="Silhouette of mountains" src="{{ liste.img }}" />
    <ion-card-header>
      <ion-card-title>{{ liste.nom_plat }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>

               <ion-item>
              étoile
              <ion-badge color="success" slot="end">⭐ {{ liste.etoile }} </ion-badge>
              </ion-item>
              <ion-item>
                difficulté
                <ion-badge color="{{ liste.dificulte=='facile'?'tertiary':liste.dificulte=='moyen'?'warning':'danger'}}" slot="end">{{ liste.dificulte }} </ion-badge>
                </ion-item>
                <ion-item>
                  durrée
                  <ion-badge color="primary" slot="end">{{ liste.temps }} min</ion-badge>
                  </ion-item>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Description:
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ liste.description }} 
    </ion-card-content>
  </ion-card>

</ion-content>
