#contener{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  
  .logo{
   margin: 8px;
  }
  .actionBtn{
   width: 100%;
  
  }
  
}  

