<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" (click)="clickMenu()">
      <ion-menu-button menuId="menu-main" class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">Accueil</ion-title>
    
  </ion-toolbar>
</ion-header>
 
<ion-content id="main" color="light">

  <ion-card routerLink="../categorie">
    <ion-img src="assets/cat.jpg" />
    <ion-card-header color="medium">
      <ion-card-title>Categorie</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="../produit">
    <ion-img src="assets/pro.jpg" />
    <ion-card-header color="medium">
      <ion-card-title>Produit</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="../recette">
    <ion-img src="assets/pla.jpg" />
    <ion-card-header color="medium">
      <ion-card-title>Recette</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="../resultat">
    <ion-img src="assets/res.jpg" />
    <ion-card-header color="medium">
      <ion-card-title>Notes</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>



<ion-menu menuId="menu-main" contentId="main">
  <ion-header>

    <div class="menu-header-bg"></div>
      <div class="profil">
        <div class="image">{{ username[0] }}</div>
        <div class="name">{{ username }}</div>
      </div>

  </ion-header>
  <ion-content>
    <div class="contener_menu">

        <div class="menu-list">
          <!-- <div class="item"><ion-icon name="globe-outline"></ion-icon>&nbsp; Termes & Condition</div> -->
          <div class="item" routerLink="../parametre"><ion-icon name="settings-outline"></ion-icon>&nbsp; Parametre</div>
          <!-- <div class="item"><ion-icon name="bag-add-outline"></ion-icon>&nbsp; Decouvrir</div> -->
          <div class="item" (click)="sShare()"><ion-icon name="share-social-outline"></ion-icon>&nbsp; Partage</div>
          <div class="item"><ion-icon name="bug-outline" (click)="sendEmail()"></ion-icon>&nbsp; Signalé un bug</div>
          <div class="item" routerLink="../apropos"><ion-icon name="information-circle-outline"></ion-icon>&nbsp; Apropos</div>
        </div>
        <div class="menu-bottom">
          <div class="item">{{ email }}</div>

          <ion-fab slot="fixed" vertical="bottom" horizontal="end">
            <ion-fab-button size="small">
              <ion-icon name="chevron-up-circle"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
              <ion-fab-button (click)="sortir()">
                <ion-icon name="power-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button (click)="logout()">
                <ion-icon name="exit-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>


        </div>
    </div>
  </ion-content>
</ion-menu>
