

<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title >Accueil</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

<ion-card routerLink="../categorie">
  <ion-img src="assets/cat.jpg"></ion-img>
  <ion-card-content>
    <ion-card-title>Categorie</ion-card-title>
    Decouvrer les categories alimentaires, partagez vers nous
    les nouveaux groupe d'aliment dans votre region!😍
  </ion-card-content>
</ion-card>

<ion-card routerLink="../produit">
  <ion-img src="assets/pro.jpg"></ion-img>
  <ion-card-content>
    <ion-card-title>Produit</ion-card-title>
    Rechercher ici les bons engredients pour la recette,
    n'oublie pas de nous donnez votre decouvert d'aliment.😋
  </ion-card-content>
</ion-card>

<ion-card routerLink="../recette">
  <ion-img src="assets/pla.jpg"></ion-img>
  <ion-card-content>
    <ion-card-title>Recette personnel</ion-card-title>
    Montrez a nous votre talent de cuisine en construsant ici
    votre propre recette.🤗
  </ion-card-content>
</ion-card>

<ion-card routerLink="../share">
  <ion-img src="assets/par.jpg"></ion-img>
  <ion-card-content>
    <ion-card-title>Recette partagé</ion-card-title>
    Decouvrer les recettes en ligne pour s'inspirer beaucoup,
    Essayer de publier aussi votre propre recette, si vous envie
    de gagner d'argent quand les gens s'interressent.🤑
  </ion-card-content>
</ion-card>
</ion-content>